Debug*/
Release*/
build/
*.app/
.svn/
*.perspectivev3
*.pbxuser
*.mode*
*.xcworkspace
xcuserdata/
xcshareddata/

.DS_Store
RGBDVisualize/bin/data/*.xml
timeline*.xml
*trackPositions.xml

#vs2010 stuff
ipch/
*.suo
*.opensdf
*.sdf
*.exp
*.lib
*.exe
*.ilk
*.dll
*.bak
*.pdb
*.sys